*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-weight: 14px;
}
.row button{
    background: #ff5945;
    color: #fff;
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    word-break: break-word;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    column-gap: 10px;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(Pic/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 10px;
    left: 8px;
    cursor: pointer;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(Pic/checked.png);
}
li input{
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-weight: 14px;
}
ul li span.edit,
ul li span.save,
ul li span.close{
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
ul li span.edit,
ul li span.save{
    right: 50px;
}
ul li span.close{
    right: 0;
}
ul li span:hover{
    background: #edeef0;
}
ul li span.save:hover{
    background: #ff5945;
}
@media all and (max-width: 400px) {
    .row button{
        padding: 16px 40px;
    }
}
